<!-- <div *ngIf="events | json ">
    <div *ngFor="let event of events">
        <h2>{{event.name}}</h2>
    </div>
</div> -->
    
<ng-template [ngIf]="events">
  <h3 class="year">Events</h3>
  <div *ngFor="let event of events">
    <div class="event-container">
     <!-- <img src="{{event.imageUrl}}" />  -->
      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <div class="date">{{event.dateDay}}</div>
            <div class="month">{{event.dateMonth}}</div>
          </div>
        </div>

        <div class="event-right">
          <h3 class="event-title">{{event.name}}</h3>
          <h5 class="event-title">Presented by: {{event.companyId.name}}</h5>
          <div class="event-description">
           {{event.description}}
          </div>

          <div class="event-timing">
            <!-- <img src="images/time.png" alt="" /> -->{{event.time}}
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>