<ng-template *ngIf="isLogged; else loggedOut" [ngIf]="events">
  <h3 class="year">Events</h3>
  <div *ngFor="let event of events">
    <div class="event-container" [routerLink]="['/event-details', event._id]">
      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <div class="date">{{event.dateDay}}</div>
            <div class="month">{{event.dateMonth}}</div>
          </div>
        </div>

        <div class="event-right">
          <h3 class="event-title">{{event.name}}</h3>
          <h5 class="event-title">Presented by: {{event.companyId.name}}</h5>
          
          <div class="event-description">
           {{event.description}}
          </div>

          <div class="event-timing">
            {{event.time}}
          </div>
          <span *ngIf="event.isOwner" class="event-icons">
            <a>
            <mat-icon title="Edit your event" class="editBtn" routerLink="/edit-event">edit</mat-icon>
           </a>
            <mat-icon title="Delete your event" class="deleteBtn">delete</mat-icon>
          </span>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #loggedOut>
  <h3 class="year">Welcome!</h3>
  <div class="container homeContainer">
    <h2> Sign up to get the full experience of Evently!</h2>
    <a mat-button class="matBtn" routerLink="/authenticate">Authenticate</a>
  </div>
</ng-template>