<mat-toolbar color="primary">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button> -->
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>event</mat-icon>
    </button>
    <span>Evently</span>
    <a mat-button routerLink="/">Home</a>
    <div  *ngIf="isLogged">
    <a mat-button routerLink="/add-company">Add Company</a>
    <a *ngIf="isOwner" mat-button routerLink="/add-event">Add Event</a>
    </div>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>account_box</mat-icon> 
    </button>
    <button *ngIf="isLogged; else loggedOut" (click)="logout()" mat-button>Logout</button>
    <ng-template #loggedOut>
        <a mat-button routerLink="/authenticate">Authenticate</a>
    </ng-template>
    
</mat-toolbar>
