<mat-toolbar color="primary">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button> -->
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>event</mat-icon>
    </button>
    <span>Evently</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>account_box</mat-icon> 
    </button>
    <a mat-button>Login</a>
    <a mat-button>Register</a>
</mat-toolbar>
