.example-form {
  min-width: 150px;
  max-width: 750px;
  height: 420px;
  margin: 0 auto;
  padding-top: 5px;
  background-color: #c2185b;
}

.labelColor {
  color: white;
}

.example-full-width {
  width: 100%;
  padding-bottom: 15px;
  padding-top: 10px;
}

td {
  padding-right: 8px;
}

.container {
  margin-top: 50px;
}

h1 {
  color: white;
  text-align-last: center;
  font-weight: bold;
  font-size: 28px;
}

.button-adjust {
  background-color: white;
  color: black;
}

.dsa {
  width: 100%;
  padding-left: 330px;
  padding-bottom: 10px;
}
