<div *ngIf="event">
  <article class="card card--wide">
    <div class="card__media">
      <img src="{{event.imageUrl}}"  alt="Card image" />
      <div class="card__date">
        <span class="date--day">{{event.dateDay}}</span>
        <span class="date--month">{{event.dateMonth}}</span>
        <span class="date--month">{{event.dateYear}}</span>

      </div>
    </div>
   
    <div class="card__content">
      <header class="card__header">
        <h2 class="card__title">{{event.name}}</h2>
        <div class="card__subtitle">{{event.time}}</div>
        <div class="card__subtitle">{{event.location}}</div>
      </header>
      <p class="card__excerpt">{{event.description}}</p>
   
      <footer class="card__meta" role="contentinfo">
        <span class="card__subtitle">Going: {{currentAttendees}}</span>
        <div *ngIf="!isOwner" class="example-button-row">
           <button *ngIf="willAttend" mat-stroked-button color="primary" title="Click to dismiss event" (click)="attendEvent(event._id)">Will attend</button>
           <button *ngIf="!willAttend" mat-raised-button color="primary" (click)="attendEvent(event._id)" >Attend event</button>
        </div>
      </footer>
    </div>
   </article>
     
     <!-- DIVIDED -->
<div *ngIf="company">
   <article class="card card--wide">
    <!-- <div class="card__media">
      <img src="{{event.imageUrl}}" alt="Card image" />
      <div class="card__date">
        <span class="date--day">{{event.dateDay}}</span>
        <span class="date--month">{{event.dateMonth}}</span>
        <span class="date--month">{{event.dateYear}}</span>

      </div>
    </div> -->
   
    <div class="card__content">
      <header class="card__header">
        <h2 class="card__title">Company: {{company.name}}</h2>
        <div class="card__subtitle">{{company.address}}</div>
      </header>
      <p class="  ">{{company.description}}</p>
   
      <footer class="card__meta" role="contentinfo">
        <span class="card__title">Owner: {{company.ownerId.firstName}} {{company.ownerId.lastName}}</span> <br>
        <span class="card__comments">Contact: {{company.ownerId.email}}</span>
      </footer>
    </div>
   </article>
</div>
</div>